{color:#fada5e;}
a{color:#614051;}
a:hover{color:#df73ff;}
p {font-family: "Arial", sans-serif;}
body {background-image: url("http://www.407bugfree.com/images/insects/snakes.jpg");}
h1 {font-family: "Verdana", sans-serif;}
h1 {text-align: center;}
