p {font-family: "Arial", sans-serif;}
a{color:#614051;}
a:hover{color:#df73ff;}
body {background-image: url("http://www.407bugfree.com/images/insects/snakes.jpg");}
h2 {font-family: "Verdana", sans-serif;}
h2 {text-align: center;}
div {width: 500px;
    border: 40px solid green;
    padding: 250px;
    margin: 25px;}
li {display: inline;}
