p {font-family: "Arial", sans-serif;}
p {color:#49796b;}
a{color:#614051;}
a:hover{color:#df73ff;}
body {background-image: url("http://www.407bugfree.com/images/insects/snakes.jpg");}
h2 {font-family: "Verdana", sans-serif;}
h2 {text-align: center;}
