p {font-family: "Arial", sans-serif;}
a{color:#614051;}
a:hover{color:#df73ff;}
body {background-image: url("http://www.407bugfree.com/images/insects/snakes.jpg");}
h2 {font-family: "Verdana", sans-serif;}
h2 {text-align: center;}
div
    {padding: 10px;
    border: 5px solid #004242;
    margin: 1;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
